<header>
	<%= image_tag("logo.png", :alt => "Pay4Grades", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Privacy", '#' %></li>
		</ul>
	</nav>
</header>